
.box{
	width: 400px;
	height:500px;
	border: 1px solid black;
	background-color: green; 
	margin-right: 100px; 
	display: flex;
}

.Home{
	padding-left: 300px;
}
.img1{
	border-radius: 10px;
	padding-left: 400px;
	padding-top: 20px;
	
}

article {
	
	padding-left: 100px;
	padding-right: 100px;
}