
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap')

.box{
	width: 400px;
	height:500px;
	border: 1px solid black;
	background-color: green; 
	margin-right: 100px; 
	display: flex;
}

.Home{
	padding-left: 50px;
}
.img1{
	border-radius: 10px;
	padding-left: 150px;
	padding-top: 20px;
	
}

article {
	
	padding-left: 100px;
	padding-right: 100px;
}

h1{
	font-family: 'Nunito', sans-serif;
}
h5{
	font-family: 'Nunito', sans-serif;
}
h6{
	font-family: 'Nunito', sans-serif;
	;
}

