 <h1>Education</h1>
	<br>
	<h5>Brunel University</h5>
	<h5>2019-2023</h5>
	<h6> Chemical Engineering BEng</h6>

<h1> Experience </h1>
<h5>Short-term brand ambassador, OnCampus Promotions </h5>
<h6>2021-Ongoing</h6>
<h6>Promoted the £1,000 Charity Giveaway sponsored by RateMyPlacement. Through creating and sharing social media posts, I was able to reach 100+ people.</h6>
<form action="https://drive.google.com/file/d/1xB9V0IM9RE9H53dLuRkHg86Ygr8b0LVQ/view?usp=drivesdk">
<button type="submit">Download</button>
</form>

