
 <article class=" mid-gray" center>
 	<link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
     <img class= "img1" src="pp2.jpg" width="200px">
    <!-- <div class="box"> <h1>Keerthanna Kuyalavanathan</h1></div> -->
    <h1 class="Home"> Keerthanna Kuyalavanathan</h1>
    <h5>I'm a second year Chemical Engineering undergraduate student at Brunel University London. 

I'm an enthusiastic and self-motivated student seeking to develop my knowledge in engineering and technology.

I have strong communication skills and experience in presenting different projects. I'm also a hardworking team player, who readily listens to peers and contributes to positive and productive work environments.</h5>

  </article>
