<section class="flex-ns flex-wrap justify-around mt5">
	<div class="relative w-100 w-30 mb4 bg-white"><h1 class="title"> Google BGN Hackathon 
		<h5>Team Cloud 9, UI designer</h5> <h5> <ul>
			<li>As a team, designed a web page for students where all the relevant resources (i.e. articles, images, videos...) are kept in one page so that the student saves time by not having to move between tabs and also find information about their research without being distracted by non-academic materials. </li>

<li>Helped with the design of the web page by creating wireframes on Figma. </li>

<li>As a team, we presented the prototype and idea. We won the People’s choice award and 3rd place for Judge’s choice.</li>
</ul>
​

<form action="https://1drv.ms/p/s!AmEwEIY5AiG-hZtSROzIPCMG7AV7DQ?e=Fxcpsu">
<button type="submit">Read more</button> </div>

<section class="flex-ns flex-wrap justify-around mt5">
	<div class="relative w-100 w-30 mb4 bg-white"><h1 class="title"> Millenium Point Hack, Hackathon Stemettes 
		<h5>Team member</h5> <h5> <ul>
			<li>We focused on mental health and presented a proposal on using AI chatbot to connect a student with a group of students with similar issues</li>

<li>Designed wireframes for the app. </li>

<li>Designed the presentation with the help of my teammates and presented the prototype and idea to the judges.</li>
</ul>
​

<form action="https://docs.google.com/presentation/d/1eIn0_1laC_OUmDjtH3FSyaD4WMLsqeoh/edit?usp=sharing&ouid=111905565456981983108&rtpof=true&sd=true">
<button type="submit">Read more</button> </div>